.reveal-modal .close-reveal-modal{
    font-size: 2.5rem;
    line-height: 1;
    position: absolute;
    top: -0.375rem;
    right: -5.625rem;
    color: #aaa;
    font-weight: 700;
    cursor: pointer;
}

.close-reveal-modal, .closeSymbol {
    margin-top: -15px;
    margin-right: -25px
}

.cross {
    background-position: -1077px -7px;
    width: 22px;
    height: 22px
}


#heading{
    font-size: 35px;
}

#heading span{
    color: #de2d0f;
}

#subHeading{
    opacity: 0.3;
}

#myModal{
    max-width: 110.5rem;
    width: 87%;
}

#login_form, #register_form {
    background-color: #EEEEEE;
    margin-left: -2%;
    padding-top: 3%;
}

#login_form {
    padding-bottom: 1%;
}

.form_heading span{
    color: #666;
    font-size: 12px;
}

.form_heading{
    padding-bottom: 2%;
}

hr{
    border-top: 1px dotted #8c8b8b;
    margin-left: 10%;
    margin-right: 10%;
}

br{
clear: left;
}

table,td,th{
    border-collapse: collapse;
    border: 1px solid black;
   }

table{
width: 50%;
margin-bottom:50px;
text-align:center;

}

td,th{
height: 30px;
vertical-align: middle;

}


option:hover{
background-color:red;
position:relative;

}
footer{
 line-height: 10px;
 position: fixed;
 right: 0;
 bottom: 0;
 left: 0;
 padding: 1rem;
 background-color: #555555;
 text-align: center;
 }
.customform{margin-top: 50px}

.breadcrumbs li a{
    font-size: medium;
}