{% extends "filters.html" %}

{% block content %}

<div id="date_range" class="tab-pane fade">
    <form action="/by_daterange" method="POST">
        <div class="section row" >
            <div class="columns large-4 small-5 ">
                from:<input type = "date" name = "fromdate" />
            </div>
            <div class="columns large-4 small-5 ">
                  to:<input type = "date" name = "todate" />
            </div>
            <div class="columns large-2 small-2 end " style="padding-top: 25px">
                <input id="daterange" type="button" class="button postfix" value="submit"><br><br>
            </div>

        </div>
    </form>
</div>
<div class="row columns large-6 large-centered small-centered medium-centered" id=ermsg style="margin-bottom: 50px"></div>
    <script>
    $(document).ready(function(){
           $('#daterange').click( function() {
               $.post("/by_daterange", $('form').serializeArray(), function (data) {
                   if (data !== 'no event found' ) {
                       $('#ermsg').html(data);
                   }
                   else{
                       alert(data);
                   }
               });
           });
    } );
    </script>

{% endblock%}