{% block head %}<head>
    <meta charset="UTF-8">
    <title>{%block title%}Events{% endblock%}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}foundation.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}foundation.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}normalize.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}app_css.css">
    <link rel="icon" href="{{ STATIC_URL }}icon.png"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

</head>{% endblock %}
<body>{%csrf_token%}
 <header class="header">
  {% block name %}<h1 class="headline">EventsApp<span id="user_tag">{{ user_name }}</span></h1>{% endblock %}
     {% block in_and_out %}
         {% if user_name == 'not signed in'%}
         <a data-reveal-id="test_modal" id="in_page_login" class="radius button">Sign In</a>
         {% else  %}
             <a href="{% url 'logout' %}" id="logout_btn" class="button radius">Sign out</a>
         {%  endif %}

     {% endblock %}
  <ul class="header-subnav">
    <li ><a href="/" id="header-about">ABOUT</a></li>
    <li><a href="{% url 'eventsapp_add_event_html'%}"  id="header-add-event">ADD EVENT</a></li>
    <li> <a href="{% url 'eventsapp_search_modify_html'%}" id="header-search-modify">SEARCH/MODIFY</a></li>
    <li><a href="{% url 'eventsapp_by_date_html'%}" id="header-filter">FILTERS</a></li>
  </ul>
</header>
<!--  body here -->
<div id="content">
    {% block body %}
        <h3>Django App </h3>
        <ol>
            <li>Add an event.</li>
            <li>Search and Modify in single page.</li>
            <li>Filters
                <ul>
                    <li>filter by date.</li>
                    <li>filter by city.</li>
                    <li>filter by date and city.</li>
                    <li>list of all events categorized according to date.</li>
                    <li>filter by date range.</li>
                </ul>
            </li>
        </ol>

    {% endblock %}
</div>

{% block footer %}
<footer>
<div id="test_modal" class="reveal-modal xlarge" data-reveal data-options="close_on_background_click:false;">
    <div class="row" data-equalizer>
        <div id="modal_heading">SignIn/Register Now</div>
        <div id="login_left" class="columns large-6 small-12 medium-12 panel" data-equalizer-watch>

            <div id="social_head">Social Connect</div>
            <ul class="inline-list">
                <li>
                    <a id="fb_connect"></a>
                </li>
                <li>
                    <a id="gplus_connect"></a>
                </li>
            </ul>
            <div class="columns large-10 large-centered">
                <div id="form_separator"></div>
            </div>
            <div id="login_head" >Login<span id="login_span">(existing users)</span></div>
            <form id="login_fields" data-abide="ajax">
                <input type="email" id="user_email" placeholder="Email" required pattern="[a-zA-Z]{2,5}">
                <small class="error">Invalid Email</small>
                <input type="password" id="user_pwd" placeholder="Password" required pattern="[a-zA-Z]{2,5}">
                <small class="error">Invalid password</small>
                <a href="#">Forgot password?</a>
                <button type="submit" class="button right modal_btn" id="sign_in" >Sign In</button>
            </form>
        </div>
        <div class="columns large-6 medium-12 small-12 panel" data-equalizer-watch>
            <form id="registration_fields" data-abide="ajax">
                <div id="register_head">Register Here</div>
                <input type="text" id="register_name" placeholder="Name" required>
                <small class="error">name required</small>
                <input type="email" id="register_email" placeholder="Email" required>
                <small class="error">email required</small>
                <input type="tel" id="register_phone" placeholder="Phone number" required>
                <small class="error">phone number required</small>
                <input type="password" id="register_password" placeholder="Password" required>
                <small class="error">password required</small>
                <button type=submit class="button right modal_btn" id="register">Register</button>
            </form>
            <div id="registered_msg"></div>
        </div>
    </div>
        <a class="close-reveal-modal" aria-label="Close" onclick=window.location.reload()>x</a>
</div>
        Copyright @ TeamGreen. All Rights Reserved

</footer>
{% endblock  %}
<script src="{{ STATIC_URL }}jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}foundation.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}modernizr.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}script.js"></script>
<script>
    $(document).foundation();
</script>
</body>

