<!DOCTYPE html>
<html lang="en">
{% block head %}<head>
    <meta charset="UTF-8">
    <title>{%block title%}Events{% endblock%}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}foundation.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}foundation.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}normalize.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}app_css.css", media="all">
    <link rel="icon" href="{{ STATIC_URL }}icon.png"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

</head>{% endblock %}
<body>{% csrf_token %}
 <header class="header">
  <h1 class="headline">EventsApp</h1>
  <ul class="header-subnav">
    <li ><a href="/" class="tab-check">ABOUT</a></li>
    <li><a href="add_event_html"  class="tab-check">ADD EVENT</a></li>
    <li> <a href="search_modify_html" class="tab-check">SEARCH/MODIFY</a></li>
    <li><a href="/by_date_html" class="tab-check">FILTERS</a></li>
  </ul>
</header>
<!--  body here -->
<div id="content">
    {% block body %}
        <h3>Django App </h3>
        <ol>
            <li>Add an event.</li>
            <li>Search and Modify in single page.</li>
            <li>Filters
                <ul>
                    <li>filter by date.</li>
                    <li>filter by city.</li>
                    <li>filter by date and city.</li>
                    <li>list of all events categorized according to date.</li>
                    <li>filter by date range.</li>
                </ul>
            </li>
        </ol>
    {% endblock %}
</div>

{% block footer %}
<footer>

        Copyright @ TeamGreen. All Rights Reserved

</footer>
{% endblock  %}
<script type="text/javascript" src="{{ STATIC_URL }}foundation.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}modernizr.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}script.js"></script>
</body>
</html>
