{% extends "filters.html" %}

{% block content %}


    <form>
        <div class="section row" >
            <div class="columns large-4 small-5 ">
                <label for="date3">from:</label><input type = "date" id="date3" name ="fromdate" />
            </div>
            <div class="columns large-4 small-5 ">
                  <label for="date2">to:</label><input type ="date" id="date2" name ="todate" />
            </div>
            <div class="columns large-2 small-2 end " id="date_range_btn">
                <input onclick="by_date_range()"  type="button" class="button postfix" value="submit">
            </div>

        </div>
    </form>

<div id="message" class="row columns large-centered"></div>

{% endblock%}