{% extends "filters.html" %}

{% block content %}


    <form>
        <div class="section row" >
            <div class="columns large-4 small-5 ">
                <label for="from_date">from:</label><input type = "date" id="from_date" name ="fromdate" />
            </div>
            <div class="columns large-4 small-5 ">
                  <label for="to_date">to:</label><input type ="date" id="to_date" name ="todate" />
            </div>
            <div class="columns large-2 small-2 end " id="date_range_btn">
                <input id="by_date_range_btn"  type="button" class="button postfix" value="submit">
            </div>

        </div>
    </form>

<div id="message" class="row columns large-centered"></div>

{% endblock%}