{% extends "filters.html" %}

{% block content %}

<form>

    <div class="row section">
        <div class=" columns large-4 small-5  ">
           <label for="date1">Date </label><input type="date" id="date1" name="date" />
        </div>
        <div class="columns large-4 small-5 ">
            <label for="city">city </label>
            <select name="city" id="city">
                {%for city in data%}
                    <option value="{{city.city_id}}">{{city.city_id}}</option>
                {%endfor%}
            </select>
        </div>

         <div id="date_city_btn" class="columns large-2 small-2 end ">
            <input onclick="date_city()"  type="button" class="button postfix" value="submit"><br><br>
        </div>

    </div>
</form>



<div id=message class="row columns large-centered" ></div>
{% endblock%}