.top-bar-section .left li a{
    font-size: medium;
}

img#img {
    width: 50px;
    height: 50px;
}

#city1 {
    display: none;
}

br{
    clear: left;
}

table,td,th{
    border-collapse: collapse;
    border: 1px solid black;
}

table{
    width: 50%;
    margin-bottom:50px;
    text-align:center;
}

td,th{
    height: 30px;
    vertical-align: middle;
}


tr:nth-child(odd){
    background-color: 	#fbefcc;
}

th{
    background-color:#d9ad7c;
}


tr:nth-child(even) {background-color: #fff2df}

option:hover{
    background-color:red;
    position:relative;
}

footer{
    line-height: 10px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #555555;
    text-align: center;
}

.customform{margin-top: 50px}

.breadcrumbs li a{
    font-size: medium;
}

ul.title-area .name h1 > a {
    background-color: #003f54;
}

div#date_city_btn {
    padding-top: 21px;
}

div#by_date_btn {
    padding-top: 21px;
}

#message {
    margin-bottom: 50px;
}

div#date_range_btn {
    padding-top: 21px;
}

td.td_heading {
    text-align: center;
    color: rebeccapurple;
}