<!DOCTYPE html>
<html lang="en">
{% block head %}<head>
    <meta charset="UTF-8">
    <title>{%block title%}Events{% endblock%}</title>
    <link rel="stylesheet" href="/static/foundation.css">
    <link rel="stylesheet" href="/static/foundation.min.css">
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" type="text/css" href="/static/app_css.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</head>{% endblock %}
<body>
<div class="image">
    <img src="/static/event_hands.png" alt="events">
    <div id="textonimage">
        <h1><b>EVENTIFY</b></h1>
    </div>
    <div class="button-group">
        <a class="button" id="mysite" href="/">My Site</a>
        <a class="button" id="mysite1" href="add_event_html">Add event</a>
        <a class="button" id="mysite2" href="search_html"> Search/Modify</a>
        <a class="button" id="mysite3" href="filters_html">Filters</a>
    </div>

</div>

<!--  body here -->
    <div id="content">
        {% block body %}<br>

           <h6 style="text-align: center"><b>Eventify</b> helps you to find out the events going on around the globe and you can also <strong>create your own </strong>event.</h6>
        {% endblock %}
    </div>

{% block footer %}
<footer>

        Copyright @ TeamGreen. All Rights Reserved

</footer>
{% endblock  %}
<script type="text/javascript" src="/static/foundation.min.js"></script>
<script type="text/javascript" src="/static/modernizr.js"></script>
<script src="/static/script.js"></script>
<script>
   $(document).ready(function() {
     $(document).foundation();
   })
</script>

</body>
</html>