<!DOCTYPE html>
<html lang="en">
<head>
  <title>EventsApp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


<link rel="stylesheet" href="/static/app_css.css">

</head>
<body>
  <div class="container"  >
    <img src='/static/icon.png' style="width: 50px; height: 50px;">
    <h1>Eventify</h1>
  <ul class="nav nav-tabs" >
    <li><a data-toggle="tab" href="#home">Home</a></li>
    <li><a data-toggle="tab" href="#add">Add Event</a></li>
    <li><a data-toggle="tab" href="#search">Search Event</a></li>
    <li><a data-toggle="tab" href="#update">Update Event</a></li>
    <li><a data-toggle="tab" href="#delete">Delete Event</a></li>
    <li><a data-toggle="tab" href="#filters">Filters</a></li>
  </ul>

  <div class="tab-content" >
    <div id="home" class="tab-pane fade in active">
      <h3>About</h3>
      <p>Simple Flask app to store and retrieve the event details.</p>

    </div>

<div id="add" class="tab-pane fade">
    <form id="add_form" action="/add", method="POST", target="_self">

    <div class="banner">Event Details Here</div><hr>

    <div class="section">
        Name :<input type="text" name="name" required pattern="[\w]+" > <br><br>
        Date :<input type="date" name="date" required ><br><br>
        City :<select name="city" style="width: 210px">
          <option value="Hyderabad">Hyderabad</option>
          <option value="Chennai">Chennai</option>
          <option value="Banglore">Bangalore</option>
        </select><br><br>
        Info :<input type="text" required maxlength="50" name="info" /><br><br>
    </div>
        <input type="submit" value="Submit"/><br><br>
</form>
</div>

<div id="search" class="tab-pane fade">
    <form action="/search", method="POST">
    <div  class="banner">Enter Event ID</div><hr>
    <div class="section">
        ID:<input type="text" name="event_id" required  > <br><br>
    <input type="submit" value="Search" style="background-color: lightseagreen;border-color: lightseagreen" /><br><br>
    </div>
</form>
</div>


  <div id="update" class="tab-pane fade">
     <form action='/fetch' method=POST >
		<div  class="banner">Update here </div><hr>
        <div class="section">
           EventId: <input type = "text" name = "event id" required  /><br><br>

          </div>
         <input type="reset" value="Reset">   <input type="submit" value="Update"/><br><br>
     </form>


    </div>

<div id="delete" class="tab-pane fade" >
    <form action="/delete", method="POST">
	<div  class="banner"> Delete Event </div>
      <hr>
      <div class="section">
      <br>
         Event Id  <input type = "text" name = "event id" required /><br><br>
         <input type="submit" value="Delete" style="color:white;border-color:red;background-color: red"/><br>
         <br>
      </div>
	</form>
  </div>


    <div id="filters" class="tab-pane fade" Style="margin-right: 10px">

      <div class="container">

          <ul class="nav nav-tabs" >
            <li><a data-toggle="tab" href="#list_by_date">list_by_date</a></li>
            <li><a data-toggle="tab" href="#list_by_city">list_by_city</a></li>
            <li><a data-toggle="tab" href="#list_by_date_and_city">list_by_date_and_city</a></li>
            <li ><a data-toggle="tab" href="#upcoming_and_past">upcoming_and_past</a></li>
              <li><a data-toggle="tab" href="#date_range">date_range</a></li>
          </ul>
            <div class="tab-content" >
            <div id="date_range" class="tab-pane fade">
                <form action="/by_daterange" method="POST">
                <div  class="banner">date range </div>
                 <hr>
                <div class="section">
                from:<input type = "date" name = "fromdate" /><br><br>
                  to:<input type = "date" name = "todate" /><br><br>

                <button type="submit" value="submit">Submit</button><br><br>

              </div>
             </form>
            </div>
            <div id="list_by_date" class="tab-pane fade">
                <form action="/by_date" method="POST">
                <div  class="banner">by date </div>
                 <hr>
                <div class="section">
                 date  <input type = "date" name = "date" /><br><br>

                <button type="submit" value="submit">Submit</button><br><br>

              </div>
             </form>
            </div>
            <div id="list_by_city" class="tab-pane fade">
                <form action="/by_city" method="POST">
                <div class="banner">by city </div>
                 <hr>
                <div class="section">
                city     <select name="city">
                    <option value="Hyderabad">Hyderabad</option>
                    <option value="Chennai">Chennai</option>
                    <option value="Banglore">Banglore</option>
                    </select><br><br>
                <button type="submit" value="submit">Submit</button><br><br>

              </div>
             </form>
            </div>
            <div id="list_by_date_and_city" class="tab-pane fade">
                <form action="/by_date_and_city" method="POST">
                <div  class="banner">by date and city </div>
                 <hr>
                <div class="section">
                   date  <input type = "date" name = "date" /><br><br>

                city     <select name="city">
                    <option value="Hyderabad">Hyderabad</option>
                    <option value="Chennai">Chennai</option>
                    <option value="Banglore">Banglore</option>
                    </select>
                    <br><br>
                <button type="submit" value="submit">Submit</button><br><br>

              </div>
             </form>
            </div>
            <div id="upcoming_and_past" class="tab-pane fade" >
                <form action="/up_and_past" method="POST">
                <div  class="banner">click to view list </div>
                 <hr>
                <div class="section">

                <button type="submit" value="submit">click to view</button><br><br>

              </div>
             </form>
            </div>
        </div>
    </div>

    </div>

   </div>
</div>
</body>
</html>
